server:
  port: ${PORT:4000}

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761}/eureka/
      
spring:
    datasource:
        url: jdbc:hsqldb:file:booksdb
        username: sa
        password: sa
        driverClassName: org.hsqldb.jdbc.JDBCDriver
    jpa:
        hibernate:
            ddl-auto: update